<p>{{name}} you
  <br/><br/>
  {{"Contoh menluis di angular"}}
  25+25={{25+25}}
</p>
<h1>LIL BITCH</h1>
<br/><br/>
<input [(ngModel)] = "a" type="text"> * 
<input [(ngModel)] = "b" type="text">
{{a*b}}
<br><br>

<div *ngFor = "let buah of itembuah;let i = index">
 {{i+1}}. {{buah.nama}} ada {{buah.jumlah | currency : 'Rp'}}
</div>
<!-- ngfor itu loop let itu variable -->


<p *ngIf="show">Tampilkan jika nilai show = true</p>
<br>
<ng-template *ngIf="show; then showBlock;else notshowBlock"></ng-template>

<ng-template #showBlock>
  FUCK U
</ng-template>

<ng-template #notshowBlock>
  STILL FUCK U
</ng-template>
<br>
<button (click) = "klikbutton()">FUCK ME</button>
{{pesan}}